<!--Header-->
    <div class="bg-white d-flex justify-content-around p-5">
        <div class="fs-1 w-50">
            <h1><b>This First Heading <span class="text-secondary">Will Catch Your Eye</span></b></h1>
            <div class="fs-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ab aperiam dicta totam provident natus
                soluta
                officia, vero, reprehenderit doloribus recusandae placeat animi. Vitae aliquid animi hic recusandae
                consequuntur modi.</p>
            </div>
        </div>
        <img src="./assets/img/1.jpg" width="300px" class="rounded-circle" alt="...">
    </div>