<!-- your html code here -->

    <!-- primera parte -->
    <div class="container">
        <h1>Porfollio</h1>
        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis aut perspiciatis eum error nobis, vel impedit explicabo totam alias rerum cum sit. Magnam est esse possimus nulla sunt nisi accusamus?</h5>

        <!-- segunda parte -->
        <div class="row d-flex justify-content-between mt-4">
            <div class="col-4 "><img src="https://picsum.photos/300/210" alt=""></div>
            <div class="col-4 "><img src="https://picsum.photos/300/210" alt=""></div>
            <div class="col-4 "><img src="https://picsum.photos/300/210" alt=""></div>
        </div>

        <!-- tercera parte -->
        <div class="row mt-4">
            <div class="col-4">
                <h3 class="text-primary">
                    Project Name
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsa tempora laudantium molestiae numquam quos.
                </p>
            </div>
            <div class="col-4">
                <h3 class="text-primary">
                    Project Name
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsa tempora laudantium molestiae numquam quos.
                </p>
            </div>
            <div class="col-4">
                <h3 class="text-primary">
                    Project Name
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsa tempora laudantium molestiae numquam quos.
                </p>
            </div>
        </div>
    </div>