<!-- your html code here -->
<div class="col-12 d-flex justify-content-center pt-5 mt-5">
    <img src="../../website/assets/img/2.jpg" alt="teclado-mujer" class="rounded-circle">
    <div>
        <h2 class="pt-4">The Second heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
        <p class="m-0">Donec Lorem ipsum dolor sit amet consectetur adipisicing elit aliquam dolorem. </p>
        <p class="m-0">Voluptas dolor sapiente, illo ipsam enim aliquam dolorem cupiditate tempore aliquid</p>
        <p class="m-0">iure temporibus quaerat nostrum magnam tempore aliquid ullam error.</p>
    </div>
</div>